@model SouthernClinicProject.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSsn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSsn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescribedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescribedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientSsnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientSsnNavigation.Ssn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pharmacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pharmacy.PharmacyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrescriptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
