@model SouthernClinicProject.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientSsnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientSsnNavigation.Ssn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
